/* --== COLORS ==-- */
.pt-6, .py-6 {
  padding-top: 4rem !important;
}

.pb-6, .py-6 {
  padding-bottom: 4rem !important;
}

.pt-7, .py-7 {
  padding-top: 5rem !important;
}

.pb-7, .py-7 {
  padding-bottom: 5rem !important;
}

.mb-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.uk-round-3px, #comments .comment-list .comment-body .reply {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.link-hover {
  font-size: 15px;
  text-transform: none !important;
  color: #09c !important;
  border-bottom: 2px solid #e9f7fd;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

.link-hover:hover {
  border-color: #09c;
  text-decoration: none;
}

.uk-text-snow {
  color: #fff;
}

.position-cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.uk-icon-image {
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  vertical-align: middle;
}

.uk-container-small {
  max-width: 900px;
}

.position-z-index {
  z-index: 10;
}

.image-link {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.image-link:hover {
  opacity: .8;
}

/* --== SEARCH-HEADER ==-- */
.uk-modal-dialog-custom-color {
  background-color: rgba(0, 0, 0, 0.87);
}

.uk-modal-close-full-custom {
  background-color: transparent;
  color: #fff;
}

.uk-modal-close-full-custom:hover {
  color: #09c;
}

.uk-search-large .uk-header-search-field {
  font-size: 24px;
}

.mb-search-description-header {
  color: #fff;
  font-size: 20px;
}

.uk-header-search-field {
  border: 3px solid #ebebeb;
  color: #fff;
  text-transform: uppercase;
}

.mb-button-search {
  background-color: #09c;
  -webkit-appearance: none;
  outline: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  width: 120px;
  height: 50px;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 600;
}

.mb-button-search:hover {
  background-color: deepskyblue;
}

.mb-small-icon-arrow {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

/* --== /SEARCH-HEADER ==-- */
body, html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #fff;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  font-size: 17px;
}

h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

.home .main-footer {
  display: none;
}

.main-header .search-icon {
  color: #333;
  padding: 11px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main-header .search-icon:hover {
  color: #09c;
}

.header-main-menu a {
  font-weight: 400;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #333 !important;
}

.header-main-menu a:before {
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: relative;
  top: 27px;
  background-color: #09c;
  -webkit-transition: width .2s ease 0s, left .2s ease 0s;
  -o-transition: width .2s ease 0s, left .2s ease 0s;
  transition: width .2s ease 0s, left .2s ease 0s;
  width: 0;
}

.header-main-menu a:focus, .header-main-menu a:hover {
  text-decoration: none;
  outline: 0;
}

.header-main-menu a:hover::before {
  width: 100%;
  left: 0;
}

.header-main-menu .dropdown-menu {
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-top: 12px !important;
  border-top: 0;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(6, 7, 19, 0.65);
          box-shadow: 0px 0px 25px 0px rgba(6, 7, 19, 0.65);
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header-main-menu .dropdown-menu:before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 23px;
  height: 12px;
  background: url("../images/tr.png") top no-repeat;
}

.header-main-menu .dropdown-menu > li > a {
  margin: 0;
  padding: 2px 20px 6px;
  text-align: left;
  border-bottom: 1px solid #e9e5f1;
}

.header-main-menu .dropdown-menu > li > a::before, .header-main-menu .dropdown-menu > li > a::before {
  width: 0;
  left: 50%;
}

.header-main-menu .dropdown-menu > li > a:focus, .header-main-menu .dropdown-menu > li > a:hover {
  background-color: #e6f9ff;
}

.header-main-menu .dropdown-menu > li > a:focus::before, .header-main-menu .dropdown-menu > li > a:focus::before, .header-main-menu .dropdown-menu > li > a:hover::before, .header-main-menu .dropdown-menu > li > a:hover::before {
  width: 0;
  left: 50%;
}

.header-main-menu .dropdown-menu > li > a {
  padding: 4px 10px 6px;
}

.header-main-menu .show a::before {
  width: 100%;
  left: 0;
}

.color-button:hover, .color-button:focus {
  background-color: #000;
  outline: 0;
  border-color: #000;
}

.current {
  color: #000 !important;
  position: relative;
}

.current:after {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  position: relative;
  top: 0;
  background-color: #09c;
}

.modal-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
      -ms-transform: translate(0px, -100%) scale(0, 0);
          transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 10;
}

.modal-search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
      -ms-transform: translate(0px, 0px) scale(1, 1);
          transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

.modal-search input[type="search"] {
  position: absolute;
  width: 90%;
  color: white;
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  border: 2px solid #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-search .mb-button-search {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 60px;
}

.modal-search .close {
  position: fixed;
  top: 25px;
  right: 25px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #09c;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

.modal-search .close:hover {
  background-color: #007399;
}

/* --== FOOTER ==-- */
.uk-footer-navigation {
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.uk-copyright {
  background-color: #ebebeb;
  color: #888;
  padding: 8px 0;
}

.uk-copyright a {
  border: 2px solid #09c;
  color: #09c;
  padding: 6px;
}

.uk-copyright a:hover {
  background-color: #ccf2ff;
  color: #09c;
}

/* --== FRONT-PAGE ==-- */
.uk-description-front {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
  width: 100%;
}

.home-image {
  background-image: url(https://upload.wikimedia.org/wikipedia/ru/1/13/%D0%A2%D0%B8%D0%BC%D0%BE%D0%BD.png);
  background-repeat: no-repeat;
  background-position: right top;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* --== /FRONT-PAGE ==-- */
/* --== ARCHIVE-PAGE-NEWS ==-- */
.uk-custom-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
  content: "";
  height: 1.5em;
  margin-left: 0;
  margin-right: 20px;
  border-left: 1px solid #e5e5e5;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.uk-button-more {
  color: #09c;
  border: 2px solid #09c;
  border-color: rgba(0, 153, 204, 0.7);
  letter-spacing: 0.5px;
  line-height: 1.5;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 6px 17px;
  font-size: 14px;
  display: inline-block;
  background: none;
  cursor: pointer;
  -webkit-transition: background-color .1s linear, color .1s linear;
  -o-transition: background-color .1s linear, color .1s linear;
  transition: background-color .1s linear, color .1s linear;
}

.uk-button-more:hover {
  background-color: #ccf2ff;
  border-color: #09c;
  text-decoration: none;
}

.uk-button-more:focus {
  outline: none;
  background-color: #b3ecff;
}

.infinite-loader {
  display: none;
}

.uk-my-article {
  margin-top: 70px;
}

.uk-my-article:first-child {
  margin-top: 0px;
}

.uk-my-article h2 a {
  color: #263238;
  font-weight: 500;
}

.uk-my-article h2 a:hover {
  color: inherit;
}

.uk-my-article * + p {
  margin-top: 20px;
}

.uk-custom-subnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -20px;
  padding: 0;
  list-style: none;
  font-size: .875rem;
  line-height: 1.4;
  color: #999;
}

.uk-custom-subnav > * {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding-left: 20px;
  position: relative;
}

.uk-custom-subnav-divider > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.uk-custom-subnav > .uk-taxonomy-news-item {
  padding-left: 5px;
}

.uk-custom-subnav > .uk-taxonomy-news-item:first-child {
  padding-left: 20px;
}

.uk-custom-subnav > .uk-taxonomy-news-item:before {
  margin-right: 0 !important;
  border-left: 0 !important;
}

.uk-my-article img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.uk-my-article h2 {
  font-size: 2rem;
}

/* --== /ARCHIVE-PAGE-NEWS ==-- */
/* --== ARCHIVE-PAGE-ALBUMS ==-- */
.photo-album-item {
  min-height: 300px;
}

.photo-album-item h2 {
  padding: 100px 20px;
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  z-index: 10;
}

.photo-album-item_link {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.photo-album-item_link:hover {
  background-color: #96cef2;
  z-index: 0;
  opacity: .3;
}

.photo-album-item:nth-child(even) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.photo-album-item__image {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --== /ARCHIVE-PAGE-ALBUMS ==-- */
/* --== ARCHIVES-MENUS ==-- */
#sidemenu {
  font-family: 'Open Sans', sans-serif;
}

#sidemenu ul {
  list-style: none;
  padding: 0;
}

#sidemenu ul a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: #777;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  position: relative;
  padding-bottom: 6px;
}

#sidemenu .sub-menu {
  display: none;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
}

#sidemenu .sub-menu a {
  color: #7C7C7C;
  font-size: 16px;
}

#sidemenu .sub-menu a:hover {
  color: #09c;
}

#sidemenu li.current-menu-item a {
  color: #000 !important;
}

#sidemenu li.current-menu-parent .sub-menu {
  display: block;
}

#sidemenu li.opened > a, #sidemenu li.current-menu-parent > a, #sidemenu > ul > li.current-menu-item > a {
  color: #000;
  font-weight: 300;
  font-size: 24px;
}

#sidemenu > ul > li > a:hover:after, #sidemenu > ul > li.opened > a:after, #sidemenu > ul > li.current-menu-parent > a:after, #sidemenu > ul > li.current-menu-item > a:after {
  top: 0;
  bottom: 0;
}

#sidemenu > ul > li > a:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  bottom: 50%;
  width: 3px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background-color: #09c;
  margin-left: -2px;
}

/* --== /ARCHIVES-MENUS ==-- */
/* --== SINGLE-NEWS ==-- */
.uk-article-header {
  padding: 70px 0 20px 0;
}

.uk-article-header .uk-title-wrapper {
  border-left: 1px solid #ebebeb;
  padding-left: 30px;
}

.uk-share-list {
  display: none;
}

.uk-share-list ul {
  padding: 0 15px;
  position: fixed;
  top: 80px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity linear .3s 0s;
  -o-transition: opacity linear .3s 0s;
  transition: opacity linear .3s 0s;
  list-style: none;
}

.uk-share-list ul span {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.uk-share-list ul a {
  display: inline-block;
}

.uk-share-list ul a:hover {
  opacity: .7;
}

.uk-share-list ul i {
  color: #989898;
  font-size: 20px;
  margin: 5px 0;
}

.uk-icon-eye {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.uk-icon-eye i {
  opacity: .6;
  margin-left: 5px;
}

.uk-navigation-single-news .screen-reader-text {
  display: none;
}

.uk-navigation-single-news .nav-previous, .uk-navigation-single-news .nav-next {
  position: fixed;
  z-index: 1000;
  top: 50%;
}

.uk-navigation-single-news .nav-previous .post-title, .uk-navigation-single-news .nav-next .post-title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.36);
  color: #fff;
  padding: 2px 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 13px;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 130px;
  max-width: 150px;
  text-align: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.uk-navigation-single-news .nav-previous a, .uk-navigation-single-news .nav-next a {
  padding: 20px;
  background: whitesmoke;
  color: #000;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.uk-navigation-single-news .nav-previous a:hover, .uk-navigation-single-news .nav-next a:hover {
  opacity: .8;
  background-color: #ccf2ff;
}

.uk-navigation-single-news .nav-previous a:active, .uk-navigation-single-news .nav-next a:active {
  background-color: #09c;
}

.uk-navigation-single-news .nav-previous a:hover .post-title, .uk-navigation-single-news .nav-next a:hover .post-title {
  display: block;
}

.uk-navigation-single-news .nav-previous {
  left: 0;
}

.uk-navigation-single-news .nav-previous .post-title {
  left: 107%;
}

.uk-navigation-single-news .nav-next {
  right: 0;
}

.uk-navigation-single-news .nav-next .post-title {
  right: 107%;
}

.uk-navigation-single-news .mobile-post-title {
  display: none;
}

/* --== /SINGLE-NEWS ==-- */
/* --== COMMENTS-BLOCK ==-- */
.comment-form textarea {
  min-width: 100%;
  min-height: 250px;
}

.comment-form textarea:focus,
.comment-form input:focus {
  border-right: 4px solid #09c;
  border-color: #09c;
  color: #000;
}

.error {
  position: absolute;
  right: 1%;
  top: 13%;
  font-size: 12px;
}

.uk-input, .uk-textarea {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transition-property: color, background-color, border;
  -o-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
}

#comments .uk-before-notes {
  color: #a61717;
}

#comments .says {
  display: none;
}

#comments .comment-list {
  padding: 0;
  list-style: none;
}

#comments .comment-list .children {
  list-style: none;
  border-left: 1px solid #ddd;
  padding-left: 15px;
}

#comments .comment-list .comment-body {
  position: relative;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;
  background-color: #fbfbfb;
}

#comments .comment-list .comment-body .reply {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: #09c;
}

#comments .comment-list .comment-body .reply a {
  color: #fff;
  padding: 3px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

#comments .comment-list .comment-body .comment-meta b {
  text-transform: capitalize;
}

#comments .comment-list .comment-body .comment-metadata {
  padding-left: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#comments .comment-list .comment-body .comment-metadata a {
  font-size: 10px;
  color: #757575;
}

#comments .comment-list .comment-body .comment-metadata .comment-edit-link {
  color: #a61717;
}

#comments .comment-list .comment-body .comment-content {
  font-size: 15px;
  padding-left: 46px;
}

/* --== SIMILAR-NEWS ==-- */
/* --== /SIMILAR-NEWS ==-- */
/* --== USEFUL-LINK-TEMPLATE ==-- */
.uk-title-background {
  background-image: url("http://pskovskie.ru/media/W1siZiIsIjIwMTYvMDgvMjgvNXA4aGllamFuMV9wcmlyb2RhX3Bza292c2tveV9vYmxhc3RpXzMuanBnIl1d/priroda_pskovskoy_oblasti_3.jpg?sha=3ea700107155d063");
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  color: #fff;
}

.uk-title-background h1 {
  color: #fff;
}

.uk-title-background span:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.page-template-template-useful-link .uk-logo {
  position: static !important;
}

.page-template-template-useful-link footer {
  display: none;
}

/* --== /USEFUL-LINK-TEMPLATE ==-- */
/* --== 404-PAGE ==-- */
.error404 {
  background-image: url("../images/29.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.error404 header {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.error404 header .uk-header-menu a {
  color: #fff;
}

.error404 header .uk-header-menu a:hover:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.error404 header .uk-navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.error404 header .uk-navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.error404 h2 {
  mix-blend-mode: overlay;
  color: #fff;
  font-size: 11rem;
}

.error404 p {
  mix-blend-mode: overlay;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.error404 .uk-footer-navigation {
  display: none;
}

.error404 .uk-copyright {
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.error404 .uk-copyright a {
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.5);
}

.error404 .uk-copyright a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.error404 .uk-copyright a:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.error404 .uk-home-link {
  mix-blend-mode: overlay;
  display: inline-block;
  padding: 15px 50px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
}

.error404 .uk-home-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.error404 .uk-home-link:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

/* --== /404-PAGE ==-- */
/* --== WP WYSIWYG Editor Styles ==-- */
.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone, img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

/* --== /WP WYSIWYG Editor Styles ==-- */
@media screen and (max-width: 1200px) {
  .uk-share-list {
    max-width: 900px;
    margin: auto;
    padding: 60px 0 20px 0;
  }
  .uk-share-list ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    text-align: left;
  }
  .uk-share-list ul li {
    margin-right: 7px;
  }
  .uk-share-list ul a {
    padding: 0 10px;
    border: 2px solid #09c;
    width: 50px;
    text-align: center;
  }
  .uk-navigation-single-news {
    max-width: 900px;
  }
  .uk-navigation-single-news .nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .uk-navigation-single-news .nav-previous, .uk-navigation-single-news .nav-next {
    position: static;
  }
  .uk-navigation-single-news .nav-previous a, .uk-navigation-single-news .nav-next a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .uk-navigation-single-news .nav-next a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .uk-navigation-single-news .mobile-post-title {
    display: block;
  }
}

@media screen and (max-width: 959px) {
  .home main {
    background-image: none;
  }
  .page-template-template-useful-link .uk-title-background {
    position: static;
    background-image: none;
  }
  .page-template-template-useful-link h1 {
    color: #000;
  }
  .page-template-template-useful-link p {
    color: #000;
  }
  .page-template-template-useful-link span:before {
    content: '';
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .home-image {
    display: none;
  }
  h1 {
    font-size: 27px;
  }
  h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
  /* --== SINGLE-NEWS ==-- */
  .uk-article-header .uk-title-wrapper {
    padding: 0;
    border: 0;
  }
  .mb-section {
    padding-top: 70px;
  }
  header #header {
    height: 50px;
  }
  /* --== COMMENTS-BLOCK ==-- */
  .children {
    padding-left: 5px;
  }
}

@media screen and (max-width: 639px) {
  .comment-form .comment-form-email {
    padding-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .photo-album-item h2 {
    padding: 20px;
  }
  .photo-album-item__title,
  .photo-album-item__image {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 480px) {
  .uk-navigation-single-news .nav-previous a, .uk-navigation-single-news .nav-next a {
    padding: 14px 0;
  }
}
