body, html {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: $black-color;
    line-height: 1.5;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    background-color: $white-color;

}

.main {
    flex: 1 0 auto;
    position: relative;
    font-size: 17px;
}

h1 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: $black-color;
    font-weight: 400;
}

.home {
    .main-footer {
        display: none;
    }
}

.main-header {
    .search-icon {
        color: #333;
        padding: 11px;
        @include slow-transition;
        &:hover {
            color: $main-color-blue;
        }
    }
}

.header-main-menu {
    a {
        font-weight: 400;
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #333 !important;
        &:before {
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            position: relative;
            top: 27px;
            background-color: $main-color-blue;
            transition: width .2s ease 0s, left .2s ease 0s;
            width: 0;
        }
        &:focus, &:hover {
            text-decoration: none;
            outline: 0;
        }
        &:hover::before {
            width: 100%;
            left: 0;
        }
    }

    .dropdown-menu {
        padding: 0;
        border-radius: 0;
        margin-top: 12px !important;
        border-top: 0;
        box-shadow: 0px 0px 25px 0px rgba(6, 7, 19, 0.65);
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        &:before {
            content: '';
            position: absolute;
            top: -12px;
            left: 0;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0);
            width: 23px;
            height: 12px;
            background: url('../images/tr.png') top no-repeat;
        }
        & > li > a {
            margin: 0;
            padding: 2px 20px 6px;
            text-align: left;
            border-bottom: 1px solid #e9e5f1;
            &::before,
            &::before {
                width: 0;
                left: 50%;
            }
            &:focus,
            &:hover {
                background-color: lighten($main-color-blue, 55%);
                &::before,
                &::before {
                    width: 0;
                    left: 50%;
                }
            }
        }

    }
    .dropdown-menu > li > a {
        padding: 4px 10px 6px;
    }
    .show {
        & a::before {
            width: 100%;
            left: 0;
        }
    }
}

.color-button {
    &:hover,
    &:focus {
        background-color: #000;
        outline: 0;
        border-color: #000;
    }
}

.current {
    color: $black-color !important;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        position: relative;
        top: 0;
        background-color: #09c;
    }
}

.modal-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 10;
}

.modal-search.open {
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

.modal-search input[type="search"] {
    position: absolute;
    width: 90%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    border: 2px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-search .mb-button-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}

.modal-search .close {
    position: fixed;
    top: 25px;
    right: 25px;
    color: #fff;
    @include slow-transition;
    background-color: $main-color-blue;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
    &:hover {
        background-color: darken($main-color-blue, 10%);
    }
}

