/* --== FOOTER ==-- */

.uk-footer-navigation {
  background-color: lighten($silver-color, 5%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.uk-copyright {
  background-color: $silver-color;
  color: $silver-text-color;
  padding: 8px 0;
  a {
    border: 2px solid $main-color-blue;
    color: $main-color-blue;
    padding: 6px;
    &:hover {
      background-color: lighten($main-color-blue, 50%);
      color: $main-color-blue;
    }
  }
}
