body, html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: $black-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1 0 auto;
  position: relative;
}

h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: $black-color;
  font-weight: 400;
}

.header-sticky {
  background-color: rgba(255, 255, 255, 0.9);
}

.uk-header-menu,
.uk-header-mobile-menu {
  li {
    a {
      text-transform: none;
    }
  }
}

.uk-header-mobile-menu {
  li {
    a {
      height: 22px;
      padding: 25px 10px;
      color: $white-color;
    }
  }
}

.current {
  color: $black-color !important;
  position: relative;
  background-color: rgba($white-color, 0.8);
  &:bafore {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    height: 2px;
    transition: all .2s ease;
    background: $main-color-blue;
    margin-top: -2px;
  }
}

.home {
  footer {
    display: none;
  }
  header #header {
    background-color: transparent;
    background: transparent;
  }
  main {
    background-image: url('https://upload.wikimedia.org/wikipedia/ru/1/13/%D0%A2%D0%B8%D0%BC%D0%BE%D0%BD.png');
    background-repeat: no-repeat;
    background-position: right top;
  }
}

header #header {
  overflow: hidden;
  background-color: #fff;
  background: rgba(255, 255, 255, .95);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, .95) 20%, rgba(255, 255, 255, .9));
  background: linear-gradient(to bottom, rgba(255, 255, 255, .95) 20%, rgba(255, 255, 255, .9));
  width: 100%;
  z-index: 100;
}

header #header {
  height: 50px;
  position: fixed;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1);
  &.is-up {
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    height: 50px;
  }
}
