/* --== COLORS ==-- */

$black-color: #000;
$silver-color: #ebebeb;
$silver-text-color: #888;
$main-color-blue: #09c;
$white-color: #fff;

.uk-round-3px {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}