/* --== COLORS ==-- */

$black-color: #000;
$silver-color: #ebebeb;
$silver-text-color: #888;
$main-color-blue: #09c;
$white-color: #fff;

.uk-round-3px {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.link-hover {
  font-size: 15px;
  text-transform: none !important;
  color: $main-color-blue !important;
  border-bottom: 2px solid #e9f7fd;
  transition-property: border-color;
  transition-duration: .1s;
  &:hover {
    border-color: $main-color-blue;
    text-decoration: none;
  }
}

.uk-text-snow {
  color: #fff;
}
