/* --== COLORS ==-- */
body, html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

.header-sticky {
  background-color: rgba(255, 255, 255, 0.9);
}

.uk-search-large .uk-header-search-field {
  font-size: 24px;
}

.uk-header-menu li a,
.uk-header-mobile-menu li a {
  text-transform: none;
}

.uk-header-mobile-menu li a {
  height: 22px;
  padding: 25px 10px;
}

.current {
  font-weight: 600;
  color: #000 !important;
}

.home footer {
  display: none;
}

.home main {
  background-image: url("https://upload.wikimedia.org/wikipedia/ru/1/13/%D0%A2%D0%B8%D0%BC%D0%BE%D0%BD.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/* --== FOOTER ==-- */
.uk-copyright {
  background-color: #ebebeb;
  color: #888;
}

/* --== FRONT-PAGE ==-- */
.uk-description-front {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
}
