/* --== COLORS ==-- */
.uk-round-3px {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* --== SEARCH-HEADER ==-- */
.uk-modal-dialog-custom-color {
  background-color: rgba(0, 0, 0, 0.87);
}

.uk-modal-close-full-custom {
  background-color: transparent;
  color: #fff;
}

.uk-modal-close-full-custom:hover {
  color: #09c;
}

.uk-search-large .uk-header-search-field {
  font-size: 24px;
}

.mb-search-description-header {
  color: #fff;
  font-size: 20px;
}

.uk-header-search-field {
  border: 3px solid #ebebeb;
  color: #fff;
  text-transform: uppercase;
}

.mb-button-search {
  background-color: #09c;
  -webkit-appearance: none;
  outline: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  width: 120px;
  height: 50px;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 600;
}

.mb-button-search:hover {
  background-color: deepskyblue;
}

.mb-small-icon-arrow {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

/* --== /SEARCH-HEADER ==-- */
body, html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

.header-sticky {
  background-color: rgba(255, 255, 255, 0.9);
}

.uk-header-menu li a,
.uk-header-mobile-menu li a {
  text-transform: none;
}

.uk-header-mobile-menu li a {
  height: 22px;
  padding: 25px 10px;
  color: #fff;
}

.current {
  color: #000 !important;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

.current:bafore {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  height: 2px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background: #09c;
  margin-top: -2px;
}

.home footer {
  display: none;
}

.home main {
  background-image: url("https://upload.wikimedia.org/wikipedia/ru/1/13/%D0%A2%D0%B8%D0%BC%D0%BE%D0%BD.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/* --== FOOTER ==-- */
.uk-copyright {
  background-color: #ebebeb;
  color: #888;
}

/* --== FRONT-PAGE ==-- */
.uk-description-front {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
}

/* --== /FRONT-PAGE ==-- */
/* --== ARCHIVE-PAGE-NEWS ==-- */
article h2 a {
  color: #263238;
  font-weight: 500;
}

article h2 a:hover {
  color: inherit;
}

.uk-custom-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.uk-button-more {
  color: #09c;
  border: 2px solid #09c;
  border-color: rgba(0, 153, 204, 0.7);
  letter-spacing: 0.5px;
  line-height: 1.5;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 6px 17px;
  font-size: 14px;
  display: inline-block;
  background: none;
  cursor: pointer;
  -webkit-transition: background-color .1s linear, color .1s linear;
  -o-transition: background-color .1s linear, color .1s linear;
  transition: background-color .1s linear, color .1s linear;
}

.uk-button-more:hover {
  background-color: #ccf2ff;
  border-color: #09c;
  text-decoration: none;
}

.infinite-loader {
  display: none;
}

.uk-my-article {
  margin-top: 70px;
}

.uk-my-article:first-child {
  margin-top: 0px;
}

.uk-custom-subnav > .uk-taxonomy-news-item {
  padding-left: 5px;
}

.uk-custom-subnav > .uk-taxonomy-news-item:first-child {
  padding-left: 20px;
}

.uk-custom-subnav > .uk-taxonomy-news-item:before {
  margin-right: 0 !important;
  border-left: 0 !important;
}

.uk-custom-subnav > .uk-taxonomy-news-item:after {
  content: ',';
}

.uk-custom-subnav > .uk-taxonomy-news-item a {
  font-size: 15px;
  text-transform: none !important;
  color: #09c !important;
  border-bottom: 2px solid #e9f7fd;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

.uk-custom-subnav > .uk-taxonomy-news-item a:hover {
  border-color: #09c;
}

.uk-my-article img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

/* --== /ARCHIVE-PAGE-NEWS ==-- */
/* --== ARCHIVE-PAGE-ALBUMS ==-- */
.mb-album {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.mb-album-photo {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  font-weight: 900;
}

.mb-album-photo:before {
  content: '';
  position: absolute;
  top: 10px;
  background: #09c;
  height: 5px;
  width: 40px;
}

.mb-album-icon {
  font-size: 20px;
}

/* --== /ARCHIVE-PAGE-ALBUMS ==-- */
/* --== ARCHIVES-MENUS ==-- */
#sidemenu {
  font-family: 'Open Sans', sans-serif;
}

#sidemenu ul {
  list-style: none;
  padding: 0;
}

#sidemenu ul li a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: #777;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  position: relative;
  padding-bottom: 6px;
}

#sidemenu .sub-menu {
  display: none;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
}

#sidemenu .sub-menu a {
  color: #7C7C7C;
  font-size: 16px;
}

#sidemenu .sub-menu a:hover {
  color: #09c;
}

#sidemenu li.current-menu-item a {
  color: #000 !important;
}

#sidemenu li.current-menu-parent .sub-menu {
  display: block;
}

#sidemenu li.opened > a, #sidemenu li.current-menu-parent > a, #sidemenu > ul > li.current-menu-item > a {
  color: #3D464D;
  font-weight: 700;
  font-size: 24px;
}

#sidemenu > ul > li > a:hover:after, #sidemenu > ul > li.opened > a:after, #sidemenu > ul > li.current-menu-parent > a:after, #sidemenu > ul > li.current-menu-item > a:after {
  top: 0;
  bottom: 0;
}

#sidemenu > ul > li > a:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  bottom: 50%;
  width: 3px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background: #09c;
  margin-left: -2px;
}

/* --== /ARCHIVES-MENUS ==-- */
/* --== WP WYSIWYG Editor Styles ==-- */
.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone, img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

/* --== /WP WYSIWYG Editor Styles ==-- */
@media screen and (max-width: 959px) {
  .home main {
    background-image: none;
  }
}
