@media screen and (max-width: 959px) {
  .home main {
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 27px;
  }
  h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
  /* --== SINGLE-NEWS ==-- */
  .uk-article-header .uk-title-wrapper {
    padding: 0;
    border: 0;
  }

  header #header {
    height: 50px;
  }
}