@media screen and (max-width: 1200px) {
  .uk-share-list {
    margin-bottom: 20px;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: static;
      text-align: left;
      li {
        &:first-child {
          padding: 0;
          border: 0;
          position: absolute;
          top: -30px;
        }

        margin-right: 7px;
        a {
          padding: 0 10px;
          border: 2px solid #09c;
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .home main {
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 27px;
  }
  h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
  /* --== SINGLE-NEWS ==-- */
  .uk-article-header .uk-title-wrapper {
    padding: 0;
    border: 0;
  }

  header #header {
    height: 50px;
  }

  /* --== COMMENTS-BLOCK ==-- */
  .children {
    padding-left: 5px;
  }
}

@media screen and (max-width: 639px) {
  .comment-form .comment-form-email {
    padding-left: 30px;
  }
}